parteSOAP/flujo/peritos/src/main/mule/peritos.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="939b5900-9beb-4c4e-b4b8-e91fca119ce1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>

	<wsc:config name="Web_Service_Consumer_Config1" doc:name="Web Service Consumer Config" doc:id="6012850c-5633-4d43-8887-b0e8b26f64d6" >
		<wsc:connection wsdlLocation="http://127.0.0.1:8080/peritos/services/peritos?wsdl" service="peritos" port="peritosSOAP" address="http://127.0.0.1:8080/peritos/services/peritos/" />
	</wsc:config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="983792ea-32df-43d9-b397-1dd5f4f9961e" >
		<email:smtp-connection host="localhost" />
	</email:smtp-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="947bfdc2-4e27-4a23-8c34-1028897041ba" >
		<wsc:connection wsdlLocation="http://127.0.0.1:8080/peritos/services/informe?wsdl" service="informe" port="informeSOAP" address="http://127.0.0.1:8080/peritos/services/informe/" />
	</wsc:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="7becfac1-73f5-4a3c-919b-85f950dc1ecf" >
		<db:my-sql-connection host="localhost" port="3307" user="root" password="contrasenamysql2025" database="peritajes" />
	</db:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="a3d1bcc0-789c-4edf-a81d-1e3a0d77a636" />
	<wsc:config name="Web_Service_Consumer_Config2" doc:name="Web Service Consumer Config" doc:id="27575e7d-1d43-4754-8789-81e806daaae3" >
		<wsc:connection wsdlLocation="http://127.0.0.1:8080/peritos/services/cliente?wsdl" service="cliente" port="clienteSOAP" address="http://127.0.0.1:8080/peritos/services/cliente/" />
	</wsc:config>
	<flow name="peritosFlow" doc:id="2d15c5c0-9755-4498-b4a3-79955176216a" >
		<http:listener doc:name="Listener" doc:id="8c325f21-8c5a-4484-9766-91761de085a8" config-ref="HTTP_Listener_config" path="/solicitaperito"/>
		<ee:transform doc:name="Transform Message" doc:id="1ec824e4-260e-4bc8-a4f8-46e320cbece7" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="dniCliente" ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.example.org/peritos/
---
{
	ns0#ValidarCliente: { 
		
		dni : attributes.queryParams.dni
	}
}

]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="992ea57d-6d09-4c39-a92b-81cf3dcba06f" config-ref="Web_Service_Consumer_Config2" operation="ValidarCliente" target="clienteValido">
			<wsc:message >
				<wsc:body ><![CDATA[#[vars.dniCliente]]]></wsc:body>
			</wsc:message>
		</wsc:consume>
		<set-variable value="#[%dw 2.0&#10;ns ns0 http://www.example.org/cliente/&#10;---&#10;vars.clienteValido.body.ns0#ValidarClienteResponse.out]" doc:name="Set Variable" doc:id="9a7df880-447b-4f03-a9da-7511039ee555" variableName="resultadoValidarCliente"/>
		<choice doc:name="Choice" doc:id="b5265e70-6310-473d-bbcf-4efd70b0baca" >
			<when expression='#[vars.resultadoValidarCliente == "false"]'>
				<ee:transform doc:name="Transform Message" doc:id="1206831e-65fa-4fe6-88e3-8f0f731c39df" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	respuesta: "Este usuario,o bien no est치 registrado, o est치 en la lista de fraudes y no se le permite realizar esta acci칩n"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<wsc:consume doc:id="48c11dd3-71a3-4f26-be73-ea8b53e23604" config-ref="Web_Service_Consumer_Config1" operation="AsignaPerito" target="resultadoAsignacion" />
				<set-variable value="#[%dw 2.0&#10;ns ns0 http://www.example.org/peritos/&#10;---&#10;vars.resultadoAsignacion.body.ns0#AsignaPeritoResponse.respuesta]" doc:name="Set Variable" doc:id="e74171cb-9929-4ccd-9b4c-7ed7acfeabaf" variableName="operacionCorrecta" />
				<logger level="INFO" doc:name="Logger" doc:id="41a1aeb8-62ca-487f-a62d-cf34f56bdf5e" message="-------&gt;&gt;&gt;opco: #[vars.operacionCorrecta]" />
				<choice doc:name="Choice" doc:id="5d8d57e5-b733-43d1-afd6-8f961723b874">
			<when expression='#[vars.operacionCorrecta == "true"]'>
				<email:send doc:name="Send" doc:id="20b89d3b-4c0f-47b6-8e9c-aa774a0d0c90" config-ref="Email_SMTP" fromAddress="aseguradorasocialUA@gmail.com">
					<email:to-addresses>
						<email:to-address value="cliente@gmail.com" />
					</email:to-addresses>
					<email:body>
						<email:content><![CDATA[#["Solicitud aprobada, se acepta su caso"]]]></email:content>
					</email:body>
				</email:send>
				<ee:transform doc:name="Transform Message" doc:id="1af10c95-a8ae-40fb-8bd0-2337638a0356">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0ns ns0 http://www.example.org/peritos/

output application/json
---
{	respuesta: "Se ha aceptado su caso,un perito lo llevar치 a cabo",
	nombrePerito : vars.resultadoAsignacion.body.ns0#AsignaPeritoResponse.perito.nombre,	numeroCaso : vars.resultadoAsignacion.body.ns0#AsignaPeritoResponse.idCaso
	}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message" doc:id="b03859ff-0cd3-46b5-935f-33bf708abe2c">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	respuesta: "No hay peritos disponibles",
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
			</otherwise>
		</choice>
	</flow>
	<flow name="peritosFlow1" doc:id="89bcf3dc-1dfb-479d-ab8a-9e69a4d89336" >
		<http:listener doc:name="Listener" doc:id="04d35391-900b-4896-a707-e26719b24d01" config-ref="HTTP_Listener_config" path="/respondePerito"/>
		<set-variable value="#[attributes.queryParams.resultado]" doc:name="Set Variable" doc:id="6976f85d-85fc-47fd-b380-273308dfa3de" variableName="respuesta"/>
		<logger level="INFO" doc:name="Logger" doc:id="1a59ada0-4df2-4d45-9acd-b08fbdd02e59" message="respuesta ----&gt;&gt;&gt; #[vars.respuesta] y #[attributes.queryParams.resultado] y #[attributes.queryParams.idCaso]"/>
		<db:select doc:id="5d8d16fa-5775-474c-9cd2-1b3669c1db2e" target="comprobar" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM informes WHERE caso = :idCaso]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	idCaso :  attributes.queryParams.idCaso
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="c1bbfc63-92e1-4ed6-98e3-15fcc6253b58" >
			<when expression="#[!isEmpty(vars.comprobar[0])]">
				<ee:transform doc:name="Transform Message" doc:id="73cb8985-a5d9-49e4-8dde-f741c120a186" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	respuesta: "Ya existe un informe sobre este caso"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<choice doc:name="Choice" doc:id="d7989e89-e477-4bd7-91d6-0df3d7a1912f">
			<when expression='#[vars.respuesta == "true"]'>
				<logger level="INFO" doc:name="Logger" doc:id="f57f4d04-4b22-4014-a36b-49d4ea7b8aa8" message="PROCESO DE PAGO ACTIVADO" />
			</when>
					<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="f1dd722c-f0e4-4da4-9c7c-09818d9eb74f" message="NO HAY QUE PAGARLE NADA" />
			</otherwise>
		</choice>
				<ee:transform doc:name="Transform Message" doc:id="60649bc4-2936-4eb7-b307-c9a5919b9e2d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.example.org/peritos/
---
{
	ns0#GenerarInforme: { 
		idCaso: attributes.queryParams.idCaso,
		resultado : attributes.queryParams.resultado
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<wsc:consume doc:name="Consume" doc:id="b8334f47-2402-495f-a9bf-024929edfc0a" config-ref="Web_Service_Consumer_Config" operation="GenerarInforme" />
				<ee:transform doc:name="Transform Message" doc:id="21ccb46c-505e-4ad4-b47c-c43a80b1ea22" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://www.example.org/informe/

output application/json
---
{	nombrePerito:  payload.body.ns0#GenerarInformeResponse.informe.PeritoAsociado.nombre,
	mensajeInforme: payload.body.ns0#GenerarInformeResponse.informe.Mensaje
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<file:write doc:name="Write" doc:id="201b556f-be27-4501-bc05-9cb564e4b3b1" config-ref="File_Config" path="C:\MTIS\workspaceAnypointStudio\peritos\src\main\resources\ficheros\informe.txt">
					<file:content ><![CDATA[#[payload.mensajeInforme]]]></file:content>
				</file:write>
			</otherwise>
		</choice>
	</flow>
</mule>
